* {
  margin: 0px;
  padding: 0px;
  line-height: 1.6em;
}

.Bt {
  color: white;
  letter-spacing: 5px;
  font: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

nav {

  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  height: 8vh;
  align-items: center;
  justify-content: space-around;
  display: flex;
  font-family: sans-serif;
}

.navlink {
  display: flex;
  width: 40%;
  justify-content: space-around;
}

.navlink a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.mainbody {
  margin-left: 6.5em;
  margin-right: 5em;
  margin-top: 2.5em;
  text-align: justify;
}

.navlink li {
  list-style: none;
}

h3 {
  color: white;
  font-family: cursive;
  text-shadow: 0px 2px 5px whitesmoke;
}

.paragraphs {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  text-shadow: 0px 2px 2px gray;
}

#options {
  margin-left: 4em;
}

body {
  background-image: url("https://wallpapercave.com/wp/JDlmniF.jpg");
}

.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  font-family: sans-serif;

  background: inherit;
  font-weight: bold;
  cursor: pointer;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  left: 0;
  height: 3em;
}

.subnav-content a {
  float: right;
  color: white;
  text-decoration: none;
  margin-right: 12em;
  margin-top: 0.5em;
  font-family: sans-serif;
  text-shadow: 0px 2px 5px whitesmoke;
}

.subnav-content a:hover {
  background-color: #eee;
  color: blue;
}

.subnav:hover .subnav-content {
  display: block;
}

.text-box {
  background-color: lightslategray;
  color: purple;
  border: black;
  border: 1px solid black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 1em;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

footer {

  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  height: 8vh;
  align-items: center;
  justify-content: space-around;
  display: flex;
  font-family: sans-serif;
  color: white;
}