* {
  margin: 0px;
  padding: 0px;
  line-height: 1.6em;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("fundal.jpg");
}

.Bt {
  color: white;
  letter-spacing: 5px;
  font: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

nav {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 8vh;
  align-items: center;
  justify-content: space-around;
  display: flex;
  font-family: sans-serif;
}

.navlink {
  display: flex;
  width: 40%;
  justify-content: space-around;
}

.navlink a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.mainbody {
  margin-left: 6.5em;
  margin-right: 5em;
  margin-top: 2.5em;
  text-align: justify;
  min-height: 100%;
}

.navlink li {
  list-style: none;
}

h3 {
  color: white;
  font-family: cursive;
  text-shadow: 0px 2px 5px whitesmoke;
}
h1 {
  color: white;
  font-family: cursive;
  text-shadow: 0px 2px 5px whitesmoke;
}

.paragraphs {
  font-family: sans-serif;
  color: white;
  text-shadow: 0px 2px 2px gray;
}

#options {
  margin-left: 4em;
}
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  font-family: sans-serif;
  background: inherit;
  font-weight: bold;
  cursor: pointer;
}
.subnav-content {
  display: none;
  position: fixed;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  width: 100%;
  left: 0;
  height: 3em;
}

.subnav-content a {
  float: right;
  color: white;
  text-decoration: none;
  margin-right: 12em;
  margin-top: 0.5em;
  font-family: sans-serif;
  text-shadow: 0px 2px 5px whitesmoke;
}

.subnav-content a:hover {
  color: blue;
}

.subnav:hover .subnav-content {
  display: block;
}

.text-box {
  background-color: lightslategray;
  color: blue;
  border: black;
  border: 5px solid black;
  font-family: sans-serif;
  font-size: 1em;
  white-space: pre;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

footer {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 8vh;
  align-items: center;
  justify-content: space-around;
  display: flex;
  font-family: sans-serif;
  color: white;
  margin-top: auto;
  width: 100%;
  left: 0;
}
#title {
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding-bottom: 2.5em;
  text-shadow: 0px 2px 5px whitesmoke;

  
}
.buton{
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  font-family: sans-serif;

  background: inherit;
  font-weight: bold;
  cursor: pointer;
}
